{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Study_Quarantools</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="buttons">
        <button class="button" id="zButton">Zoom Link Sharing</button>
        <button class="button" id="pomoButton">Pomodoro Timer</button>
        <button class="button" id="studyButton">Study Tips</button>
        <button class="button" id="langButton">Quick Translate</button>
        <button class="button" id="wikiButton">WikiSpeedia</button>
    </div>

    <div class="container">

        <p id="textBox">
            Zoom Link Sharing is a tool that allows users to send a Zoom link to their study partners' emails all from one place. <br><br>
            The Pomodoro Timer provides users with a time management tool that encourages them to work through large projects in an efficient method. The Pomodoro Method consists of 4 25-minute work intervals seperated by five minute breaks. <br><br>
            The Study Tips tool provides users with randomized tips that may help them with everyday school activities. NOTE : Only works on windows computers at the moment. <br><br>
            Quick Translate is a tool that allows users to input foreign text (in Chinese, Spanish, Portuguese, and English), the language that text is in, and the language they want to translate that text to, all while never having to leave the page. <br><br>
            WikiSpeedia provides users with the ability to input a topic they would like to learn more about, and displays a short summary of that topic from Wikipedia.
        </p> 

        <div class="ZoomBox" style="display:none">
            <form action="/external/" method="post">
                {% csrf_token %}
                Enter Zoom Link:
                <input type="text" name="param" required><br>
    
                Enter Emails:
                <input type="text" name="param2" required><br><br>
                {{data_external}}
                {{data1}}
                <br>

                <input type="submit" value="Send Zoom Link!!!">
            </form>
        </div>

        <div class="pomoBox" style="display:none">
            <h2 id="timeBox">25:00</h2>
            <h3 id="cycleBox">0 of 4 25-minute segments complete</h3>
            <button id="startButton">Start</button>
            <button id="resetButton">Reset</button>
        </div>

        <div class="studyBox" style="display:none">
            <form action="/tips/" method="post">
                {% csrf_token %}

                {{data_tips}}
                {{data2}}
                <br>
    
                <input type="submit" value="Send Tips!!!">
            </form>
            
        </div>

        <div class="langBox" style="display:none">
            <form action="/translator/" method="post">
                {% csrf_token %}
                Enter Text to be Translated:
                <input type="text" name="param3" required><br>
    
                Enter Current Language:
                <input type="text" name="param4" required><br>

                Enter Target Language:
                <input type="text" name="param5" required><br><br>

                {{data_translator}}
                {{data3}}
                <br>
                <input type="submit" value="Translate!!!">
            </form>
        </div>

        <div class="wikiBox" style="display:none">
            <form action="/wikispeed/" method="post">
                {% csrf_token %}
                Enter Topic to Search:
                <input type="text" name="param6" required><br>

                {{data_wikispeed}}
                {{data4}}
                <input type="submit" value="Send Query!!!">
            </form>
        </div>

    </div>

    <div class="sidebar">
        <p>
            <h3>Contributors:</h3>
            <p>Erin Byrd <br> Nicholas Carter <br> Albert DeMarco</p>
        </p>
    </div>

    <div id="UNC_img">
        <img src="{% static 'img/bluesealhires_new.JPEG' %}" alt="">
    </div>

    <script src= "{% static 'js/main.js' %}"></script>

</body>

</html>

